<form id="imageUploadForm" hx-encoding='multipart/form-data' hx-post="/reports/image-upload" hx-target="#swappableBody" hx-swap="innerHTML">
  <button class="flex flex-col items-center md:min-h-[60vh] min-h-[50vh] md:w-full w-[80vw] mt-5 bg-gray-100 border-3 border-gray-200 border-dashed rounded-xl p-8">
    <img src="{{ url_for('static', path='/images/upload.svg') }}" alt="logo" width="250" height="150" style="object-fit: contain" class="mt-8"/>
    <input type="file" name="image" accept="image/*" required id="fileInput" />
    <p type="button" class="px-4 text-gray-400 text-2xl font-bold rounded-md hover:text-blue-500 transition">
      Upload Image
    </p>
  </button>
  <div id="buttons" class="flex gap-8 mt-8 lg:w-[30vw] md:w-[60vw] w-[80vw] justify-between">
    <button id="cancelButton" class="bg-gray-200 text-gray-600 px-5 py-1 hover:bg-gray-300 hover:cursor-pointer rounded-sm w-1/2">Cancel</button>
    <button id="actionButton" type="submit" class="bg-[var(--blue-primary)] hover:bg-[var(--blue-secondary)] hover:cursor-pointer  text-white px-5 py-1 rounded-sm w-1/2">Next</button>
  </div>
</form>
