<form id="locationUploadForm" hx-post="/reports/create">
    <input id="imgpath" type="hidden" name="imgpath" value={{img_path}}>

    <div id="locationDiv">

        <label for="location">Approximate Location</label>
        <input id="location" type="text" name="location">
    </div>

    <div id="descriptionDiv">
        <label for="desc">Add Description</label>
        <textarea name="desc" id="desc" rows="8" cols="40"></textarea>
    </div>

    <div id="severityDiv">

        <label for="severity">Rate Severity</label>
        <select name="severity" id="severity">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
        </select>
    </div>
  <div id="buttons" class="flex gap-8 mt-8 lg:w-[30vw] md:w-[60vw] w-[80vw] justify-between">
    <button id="cancelButton" class="bg-gray-200 text-gray-600 px-5 py-1 hover:bg-gray-300 hover:cursor-pointer rounded-sm w-1/2">Cancel</button>
    <button id="actionButton" type="submit" class="bg-[var(--blue-primary)] hover:bg-[var(--blue-secondary)] hover:cursor-pointer  text-white px-5 py-1 rounded-sm w-1/2">Submit</button>
  </div>
</form>

<script>

const handleLocationSubmit = (event) => {

    if (event.detail.successful && event.detail.requestConfig.verb === "post" && event.detail.target.id == "locationUploadForm") {

        htmx.trigger(document.getElementById("success"), "click")

        document.removeEventListener('htmx:afterRequest', handleLocationSubmit)
    }

}

document.body.addEventListener('htmx:afterRequest', handleLocationSubmit);

</script>

