<form id="locationUploadForm" hx-post="/reports/create" class="mt-5 px-8 flex flex-col items-center justify-center">
    <input id="imgpath" type="hidden" name="imgpath" value={{img_path}}>

   <div class="flex flex-col gap-5 bg-gray-100 rounded-lg min-w-[50vw] lg:min-h-[30vw] md:min-h-[40vw] min-h-[50vw] p-8">
        <div id="locationDiv" class="flex flex-col gap-2">
            <label for="location">Adjust Location</label>
            <input id="location" type="text" name="location" class="bg-gray-200 min-h-[20vh] rounded">
        </div>

        <div id="descriptionDiv" class="flex flex-col gap-2 rounded-lg">
            <label for="desc">Add Description</label>
            <textarea class="bg-gray-200 p-5 rounded" name="desc" id="desc" rows="2" cols="40"></textarea>
        </div>

        <div id="severityDiv" class="flex flex-col gap-2">
            <label for="severity">Rate Severity</label>
            <select name="severity" id="severity" class="bg-gray-200 border-none rounded lg:w-[10vw] md:w-[20vw] w-full px-5 py-1">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
            </select>
        </div>
   </div>

   <div class="flex justify-center">
    <div id="buttons" class="flex gap-8 mt-8 lg:w-[30vw] md:w-[60vw] w-[80vw] justify-between">
        <button id="cancelButton" class="bg-gray-200 text-gray-600 px-5 py-1 hover:bg-gray-300 hover:cursor-pointer rounded-sm w-1/2">Cancel</button>
        <button id="actionButton" type="submit" class="bg-[var(--blue-primary)] hover:bg-[var(--blue-secondary)] hover:cursor-pointer  text-white px-5 py-1 rounded-sm w-1/2">Submit</button>
      </div>
   </div>
</form>

<script>

const handleLocationSubmit = (event) => {

    if (event.detail.successful && event.detail.requestConfig.verb === "post" && event.detail.target.id == "locationUploadForm") {

        htmx.trigger(document.getElementById("success"), "click")

        document.removeEventListener('htmx:afterRequest', handleLocationSubmit)
    }

}

document.body.addEventListener('htmx:afterRequest', handleLocationSubmit);

</script>

