<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMP3375 Assignment 2 - {% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    
</head>
<body>

    Note: This will be extremely minimalist with no CSS such that the UI designer can do their work.

    <section id="mainSection" class="section">
        {% block content %}{% endblock %}
    </section>
    
</body>
</html>