<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='scripts/htmx.min.js') }}"></script>
    <title>COMP3375 Assignment 2 - {% block title %}{% endblock %}</title>
    
</head>
<body>

    Note: This will be extremely minimalist with no CSS such that the UI designer can do their work.

    <section id="mainSection" class="section">
        {% block content %}{% endblock %}
    </section>
    
</body>
</html>