{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}


{% block styles %}

<style>

    #titleBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mapContainer {
        background-color: #6FCBF5;
    }

</style>

{% endblock %}

{% block content %}

<div id="titleBar">
    <h1>DashBoard</h1> 
    <div>
        <a href="/reports"><button>View Reports</button></a>
    </div>
</div>

<div id="mapContainer" style="max-width: 100%; margin: 0 auto">
    <img src="{{ url_for('static', path='/images/map.png') }}" alt="map" width="1146px" height="659px" style="object-fit: contain" >
</div>

{% endblock %}
